body{
    background-image: url(./images/ep_naturalblack.png)
}

h2{
    color: #ffffff; 
    margin-top: 15px;
}

.contacts{
    color: #aaaaaa;
    margin-top: 15px;
}

.nav-link{
    color: #ffffff;
    margin-top: 15px;
}

.me{
    color: #aaaaaa;
}

.about{
    color: #aaaaaa;
    background-color: #ffffff;
    margin: 35px;
    padding-bottom: 30px;
    margin-right: 70px;
}

.img{
    margin-left: 30px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
    text-align: center;
    height: 40px;
  }

  .footer-text {
    color: #262626;
    font-size: 12pt;
  }

.port-image {
    margin: 20px auto;
}

.block{
    background-color: #ffffff;
    margin: 35px;
    padding-bottom: 30px;
    margin-right: 40px;
    padding-left: 40px;
    width: 1030px;
}

.block-header {
    color: #aaaaaa;
}

.contact {
    background-color: #ffffff;
    margin: 35px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: 70px;
    width: 1100px;
}